SwagSword/SwagSword/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
SwagSword/SwagSword/obj/x86/Debug/SwagSword.exe
SwagSword/SwagSword/obj/x86/Debug/SwagSword.exe
SwagSword/SwagSword/obj/
SwagSword/SwagSword/bin/
SwagSword/SwagSword/bin/Windows/Debug/SwagSword.exe
SwagSword/SwagSword/bin/Windows/Debug/SwagSword.exe
SwagSword/SwagSword/bin/Windows/Debug/SwagSword.exe
SwagSword/SwagSword/bin/Windows/Debug/SwagSword.exe
*.exe
SwagSword/SwagSword/bin/Windows/Debug/SwagSword.exe
SwagSword/SwagSword/bin/Windows/Debug/SwagSword.pdb
SwagSword/SwagSword/obj/x86/Debug/SwagSword.exe
SwagSword/SwagSword/obj/x86/Debug/SwagSword.exe